<launch>

  <arg name="tf_node" default="tf" />
  <arg name="lidar_node" default="rplidar_ros" />
  <arg name="node_name" default="node_n"/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="alpha" default="0"/>
  <arg name="beta" default="0"/>
  <arg name="gama" default="0"/>

  <group ns="$(arg node_name)">
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <param name="rplidarNode/frame_id"  
        type="string" 
        value="$(arg node_name)" />
  <node name="$(arg tf_node)" 
        pkg="tf" 
        type="static_transform_publisher" 
        args="$(arg x) $(arg y) $(arg z) $(arg alpha) $(arg beta) $(arg gama) map $(arg node_name) 100">
  </node>
  </group>

</launch>
